h2 {
  color: turquoise;
}

.navbar-brand {
  background-color: aqua;
}


.navbar-brand:hover {
  background-color: rgb(209, 33, 130);
  font-weight: bold;
}
.label {
  color: turquoise;
  font-weight: bold;
  text-align: left;
}


.landing_left_image {
  display: inline-block;
}

.container_main {
  background: lightgray;
}

.container {
  background: lightgrey;
 
}

.data_html {
  background: white;
  width: 90%;
  margin: 20px 10px 10px 60px;
  float: center;

}
 .page_left {
  background-color: white;
  float: left;
  width: 98%;
  margin: 10px 10px 10px 10px;
  padding: 30px;

}

.page_right {
  background-color: white;
  /* font-size: 5.5vw; */
  float: inline-end;
  width: 98%;
  height: 120%;
  margin: 10px 10px 10px 10px;
  padding: 30px;

}
 
html {
  background-color: lightgrey;
}

.comparison {
  background: white;
  width: 95%;
  height: 80%;
  margin: 10px 10px 10px 10px;
  padding-left: 30px;
  padding-right: 50px;
}

.container-comparison {
    margin: 30px 30px 30px 30px;
    padding-left: 10px;
    padding-right: 10px;
    background: lightgray;
}

.box_comparison {
  min-height: 50px;
  padding: 20px;
  margin: 5px;
  font-weight: 800;
  background: white;
  
  .col_md_6 {
    float: center;
    text-align: center;
    padding: 5px;
  }

  body{
    background-color: lightgray !important;
}
 
  